CREATE TABLE accounts (id SERIAL PRIMARY KEY, account_no VARCHAR(20) NOT NULL UNIQUE, user_id BIGINT NOT NULL, balance DECIMAL(19,4) NOT NULL, version BIGINT, status VARCHAR(20) NOT NULL, created_at TIMESTAMP NOT NULL, updated_at TIMESTAMP NOT NULL); CREATE INDEX idx_account_user_id ON accounts (user_id); CREATE TABLE ledger_entries (id SERIAL PRIMARY KEY, account_id VARCHAR(20) NOT NULL, transaction_id VARCHAR(100) NOT NULL, operation VARCHAR(20) NOT NULL, amount DECIMAL(19,4) NOT NULL, running_balance DECIMAL(19,4) NOT NULL, description VARCHAR(255), created_at TIMESTAMP NOT NULL); CREATE INDEX idx_ledger_account_id ON ledger_entries (account_id); CREATE INDEX idx_ledger_transaction_id ON ledger_entries (transaction_id);
